body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(17, 69, 160);
}

button {
    font-weight: bold;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 25px;
    padding: 10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}

.mashed-potatoes {
    background-color: white;
}

.ice-cream {
    background-color: rgb(237, 53, 191);
}

.heading {
    color: rgb(188, 0, 0);
}

.heading.title {
    font-size: 70px;
    text-align: center;
}

.heading.description {
    font-size: 35px;
}

.heading.ingredients {
    font-size: 25px;
}

.heading.steps {
    font-size: 20px;
    color: rgb(201, 20, 147);
}

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#lasagna-img {

    height: auto;
    width: 700px;
}

div li {
    font-size: 20px;
    color: rgb(152, 30, 113);
}

#description-ice-cream {
    background-color: rgba(243, 91, 91, 0.366);
    border-radius: 25px;
    padding: 15px;
    width: auto;
    height: auto;
}

#description-p {
    background-color: rgba(102, 145, 183, 0.48);
    border-radius: 25px;
    padding: 15px;
    width: auto;
    height: auto;
}

#description-lasagna {
    background-color: rgba(255, 111, 0, 0.634);
    border-radius: 25px;
    padding: 15px;
    width: auto;
    height: auto;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
}

.ingredients-items {
    border-radius: 25px;
    padding: 30px;
    width: 250px;
    height: auto;
    }

.ingredients-items.lasagna {
        background-color: rgba(73, 198, 54, 0.616);
    }
.ingredients-items.mashed-potatoes {
        background-color: rgba(66, 215, 223, 0.575);
    }

.ingredients-items.ice-cream {
        background-color: rgb(237, 127, 227);
    }

h2.heading.description {
    margin-left: 10px;
}

a .lasagna {
    background-color: rgb(229, 132, 4); 
}

.lasagna:hover {
    background-color: rgb(247, 82, 0);
    }

.odin-recipes {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 75px;
    }

.button-container {
    background-color:aqua;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

